<div class="card-pf card-pf-accented">
  <div class="card-pf-heading">
    <h4 class="card-pf-title">{{viewName}}</h4>
  </div>

  <!--<div class="spinner spinner-lg"></div>-->
  <div class="form-group container-fluid">
    <button type="button" class="btn btn-primary" (click)="load()">
      <i class="fa fa-refresh"></i>&nbsp;Load
    </button>
    <button type="button" class="btn btn-default" (click)="clear()">
      <i class="fa fa-close"></i>&nbsp;Clear
    </button>
  </div>


  <div class="card-pf-body">
    <pfng-table
      [columns]="columns"
      [config]="tableConfig"
      [rows]="rows"
      (onPageNumberChange)="handlePage($event)"
      (onPageSizeChange)="handlePage($event)">
    </pfng-table>
  </div>
</div>
