<div class="card-deck">
  <div class="card">
    <div class="card-header">Map</div>
    <div class="card-body">
      <div class="app-map" 
        leaflet
        leafletDraw
        [leafletOptions]="options"
        [leafletLayersControl]="layersControl"
        [leafletDrawOptions]="drawOptions"
        (leafletMapReady)="onMapReady($event)"
        (leafletDrawCreated)="onDrawCreated($event)">
        <div [leafletLayer]="drawItems"></div>
        <div [leafletLayer]="geojsonLayer"></div>
      </div>
    </div>
  </div>
</div>