<pfng-toast-notification-list
  [notifications]="notifications"
  (onCloseSelect)="messageService.close($event);"
  [showClose]="true">
</pfng-toast-notification-list>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/img/redhat.png" class="d-inline-block align-top" alt="redhat logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home/card" routerLinkActive="current">Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home/table" routerLinkActive="current">Table</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link dropdown-toggle" href role="button" aria-haspopup="true" aria-expanded="false"
             dropdownToggle (click)="false">
            Dropdown
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown placement="bottom right">
          <a class="nav-link dropdown-toggle" href role="button" aria-haspopup="true" aria-expanded="false"
             dropdownToggle (click)="false">
            Username
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
            <a class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>

      <!-- notifications menu -->
      <!--<ul class="mt-2 mt-md-0">-->

      <!--<li class="dropdown" dropdown>-->
      <!--<a class="dropdown-toggle nav-item-iconic" dropdownToggle>-->
      <!--<span title="Notifications" class="fa pficon-flag"></span>-->
      <!--<span class="badge" *ngIf="messageHistory.length > 0">{{messageHistory.length}}</span>-->
      <!--</a>-->
      <!--<div class="dropdown-menu infotip bottom-right" *dropdownMenu>-->
      <!--<div class="arrow"></div>-->
      <!--<ul class="list-group">-->
      <!--<li class="list-group-item" *ngFor="let item of messageHistory">-->
      <!--<span class="i pficon {{item.class}}"></span> {{item.msg}}-->
      <!--</li>-->
      <!--</ul>-->
      <!--<div class="list-group-item">-->
      <!--<a class="app-button" (click)="messageService.clear();">Clear Messages</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</li>-->
      <!--&lt;!&ndash; user menu &ndash;&gt;-->
      <!--<li class="dropdown" dropdown>-->
      <!--<button class="btn btn-link dropdown-toggle nav-item-iconic" aria-haspopup="true" aria-expanded="false"-->
      <!--dropdownToggle>-->
      <!--<span title="username" class="fa pficon-user"></span>-->
      <!--<span class="dropdown-title">-->
      <!--{{username}} <span class="caret"></span>-->
      <!--</span>-->
      <!--</button>-->
      <!--<ul class="dropdown-menu" *dropdownMenu>-->
      <!--<li><a class="app-nav-menu">Logout</a></li>-->
      <!--</ul>-->
      <!--</li>-->
      <!--</ul>-->

    </div>
  </nav>
</header>
