<app-sidebar class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-show" #sidebar></app-sidebar>
<div class="c-wrapper">
  <app-header class="c-header c-header-light c-header-fixed"></app-header>
  <div class="c-body">
    <app-breadcrumb></app-breadcrumb>
    <main class="c-main">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer class="c-footer">
      <div class="mfs-auto">
        Powered By
        <a target="_blank" href="https://sapns2.com/">SAP NS2</a>
      </div>
    </footer>
  </div>
</div>