<div class="row">
  <div class="col-sm-6">
    <h1 class="h2 ml-3 mt-2">{{title}}</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-right">
      <li *ngFor="let breadcrumb of breadcrumbs | async; let last = last; let first = first" class="breadcrumb-item"
          [ngClass]="{'active': last}">
        <a *ngIf="!last" [routerLink]="[breadcrumb.url]">
          <fa-icon *ngIf="first" [icon]="homeIcon"></fa-icon>
          {{breadcrumb.label}}
        </a>
        <label *ngIf="last">
          <fa-icon *ngIf="first" [icon]="homeIcon"></fa-icon>
          {{breadcrumb.label}}
        </label>
    </ol>
  </div>
</div>
