
@import '~bootstrap/scss/functions';
@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';

/* Custom page CSS */
body {
  background-color: #eee;
}

.app-navbar {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

.app-nav-action {
  cursor: pointer;
}

.app-breadcrumb-container {
  margin-top: 56px;
  background-color: white;
}

.breadcrumb {
  margin-bottom: 0 !important;
  padding-bottom: 6px !important;
  background-color: white;
  border-radius: 0;
}

.app-table {
  width: 100% !important;
}
